
@{
    ViewData["Title"] = "Accordians";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Accordion</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>An accordion allows users to toggle the display of sections of content</p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Default Accordian</h4>
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne"
                                   aria-expanded="false" aria-controls="collapseOne">
                                    Anim pariatur cliche reprehenderit
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <img class="rounded mbr-xl-2" src="~/assets/images/300_300/glasses-1280.jpg" alt="image">
                                        </div>
                                        <div class="col-sm-8 col-md-9">
                                            <p>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                                wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                    Anim pariatur cliche reprehenderit
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <img class="rounded mbr-xl-2" src="~/assets/images/300_300/download-1280.jpg" alt="image">
                                        </div>
                                        <div class="col-sm-8 col-md-9">
                                            <p>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                                wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseThree"
                                   aria-expanded="false" aria-controls="collapseThree">
                                    Anim pariatur cliche reprehenderit
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4 col-md-3">
                                            <img class="rounded mbr-xl-2" src="~/assets/images/300_300/manhattan-1280.jpg" alt="image">
                                        </div>
                                        <div class="col-sm-8 col-md-9">
                                            <p>
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                                wolf moon officia aute,
                                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                                tempor,
                                                sunt aliqua put a bird on it squid single-origin
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Outline Accordian</h4>
                    <div id="accordionInfo" class="accordian-outline v2">
                        <div class="card">
                            <div class="card-header" id="headingOneInfo">
                                <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#collapseOneInfo"
                                   aria-expanded="false" aria-controls="collapseOneInfo">
                                    Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="collapseOneInfo" class="collapse show" data-parent="#accordionInfo">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseTwoInfo"
                                   aria-expanded="false" aria-controls="collapseTwoInfo">
                                    Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="collapseTwoInfo" class="collapse" data-parent="#accordionInfo">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseThreeInfo"
                                   aria-expanded="false" aria-controls="collapseThreeInfo">
                                    Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="collapseThreeInfo" class="collapse" data-parent="#accordionInfo">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Outline Accordian</h4>
                    <div id="accordionFilled" class="accordian-filled v2">
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#filledOneInfo"
                                   aria-expanded="false" aria-controls="filledOneInfo">
                                    Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="filledOneInfo" class="collapse show" data-parent="#accordionFilled">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#filledTwoInfo"
                                   aria-expanded="false" aria-controls="filledTwoInfo">
                                    Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="filledTwoInfo" class="collapse" data-parent="#accordionFilled">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#filledThreeInfo"
                                   aria-expanded="false" aria-controls="filledThreeInfo">
                                    Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="filledThreeInfo" class="collapse" data-parent="#accordionFilled">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Shadow Accordian</h4>
                    <div id="accordionShadow" class="accordian-shadow v2">
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#shadowOneInfo"
                                   aria-expanded="false" aria-controls="shadowOneInfo">
                                    Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="shadowOneInfo" class="collapse show" data-parent="#accordionShadow">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#shadowTwoInfo"
                                   aria-expanded="false" aria-controls="shadowTwoInfo">
                                    Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="shadowTwoInfo" class="collapse" data-parent="#accordionShadow">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#shadowThreeInfo"
                                   aria-expanded="false" aria-controls="shadowThreeInfo">
                                    Collapsible Group Item #3
                                </a>
                            </div>
                            <div id="shadowThreeInfo" class="collapse" data-parent="#accordionShadow">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                                    moon officia aute,
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor,
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                                    haven't
                                    heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
