
@{
    ViewData["Title"] = "Badges";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Badges</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A badge support a particular group, idea, belief, etc.</p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Default Badges</h4>
                    <ul class="list-group">
                        <li class="list-group-item justify-content-between d-flex">
                            Cras justo odio
                            <span class="badge badge-light">Default</span>
                        </li>
                        <li class="list-group-item justify-content-between d-flex">
                            Dapibus ac facilisis in
                            <span class="badge badge-primary">Primary</span>
                        </li>
                        <li class="list-group-item justify-content-between d-flex">
                            Morbi leo risus
                            <span class="badge badge-info">Info</span>
                        </li>
                        <li class="list-group-item justify-content-between d-flex">
                            Morbi leo risus
                            <span class="badge badge-danger">Danger</span>
                        </li>
                        <li class="list-group-item justify-content-between d-flex">
                            Morbi leo risus
                            <span class="badge badge-success">Success</span>
                        </li>
                        <li class="list-group-item justify-content-between d-flex">
                            Morbi leo risus
                            <span class="badge badge-warning  text-white">Warning</span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body type-badge-list">
                    <h4 class="card-title mb-4">Normal Badges</h4>
                    <ul>
                        <li>
                            Cras justo odio
                            <span class="badge badge-light">Default</span>
                        </li>
                        <li>
                            Dapibus ac facilisis in
                            <span class="badge badge-primary">Primary</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-info">Info</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-danger">Danger</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-success">Success</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-warning  text-white">Warning</span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body type-badge-list">
                    <h4 class="card-title mb-4">Badges Pills</h4>
                    <ul>
                        <li>
                            Cras justo odio
                            <span class="badge badge-light badge-pill">Default</span>
                        </li>
                        <li>
                            Dapibus ac facilisis in
                            <span class="badge badge-primary badge-pill">Primary</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-info badge-pill">Info</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-danger badge-pill">Danger</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-success badge-pill">Success</span>
                        </li>
                        <li>
                            Morbi leo risus
                            <span class="badge badge-warning badge-pill  text-white">Warning</span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body type-badge-list">
                    <h4 class="card-title mb-4">Badge Outlined Variations</h4>
                    <ul>
                        <li>
                            <span class="badge badge-outline-primary badge-pill">Primary</span>
                            <span class="badge badge-outline-primary">Primary</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-secondary badge-pill">Secondary</span>
                            <span class="badge badge-outline-secondary">Secondary</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-info badge-pill">Info</span>
                            <span class="badge badge-outline-info">Info</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-danger badge-pill">Danger</span>
                            <span class="badge badge-outline-danger">Danger</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-success badge-pill">Success</span>
                            <span class="badge badge-outline-success">Success</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-warning badge-pill">Warning</span>
                            <span class="badge badge-outline-warning">Warning</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-dark badge-pill">Dark</span>
                            <span class="badge badge-outline-dark">Dark</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-light badge-pill">Light</span>
                            <span class="badge badge-outline-light">Light</span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body type-badge-list">
                    <h4 class="card-title mb-4">Badge Variations</h4>
                    <ul>
                        <li>
                            <span class="badge badge-outline-primary badge-pill">2</span>
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-secondary badge-pill">3</span>
                            <span class="badge badge-secondary badge-pill">3</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-info badge-pill">4</span>
                            <span class="badge badge-info badge-pill">4</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-danger badge-pill">5</span>
                            <span class="badge badge-danger badge-pill">5</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-success badge-pill">6</span>
                            <span class="badge badge-success badge-pill">6</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-warning badge-pill">7</span>
                            <span class="badge badge-warning badge-pill">7</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-dark badge-pill">8</span>
                            <span class="badge badge-dark badge-pill">8</span>
                        </li>
                        <li>
                            <span class="badge badge-outline-light badge-pill">1</span>
                            <span class="badge badge-light badge-pill">1</span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body type-badge-list">
                    <h4 class="card-title mb-4">Badge With Icons</h4>
                    <ul>
                        <li>
                            <span>
                                <i class="mdi mdi-account primary-color"></i>
                                <i class="badge-dot badge-dot-primary"></i>
                            </span>
                            <span class="badge badge-primary badge-pill">
                                <i class="mdi mdi-account"></i>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="mdi mdi-cloud-outline secondary-color"></i>
                                <i class="badge-dot badge-dot-secondary"></i>
                            </span>
                            <span class="badge badge-secondary badge-pill">
                                <i class="mdi mdi-cloud-outline"></i>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="mdi mdi-email info-color"></i>
                                <i class="badge-dot badge-dot-info"></i>
                            </span>
                            <span class="badge badge-info badge-pill">
                                <i class="mdi mdi-email mr-2"></i> 12
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="mdi mdi-email danger-color"></i>
                                <i class="badge-dot badge-dot-danger"></i>
                            </span>
                            <span class="badge badge-danger badge-pill">
                                11
                                <i class="mdi mdi-email ml-2"></i>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="mdi mdi-comment success-color"></i>
                                <i class="badge-dot badge-dot-success"></i>
                            </span>
                            <span class="badge badge-success badge-pill">
                                <i class="mdi mdi-comment"></i>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="mdi mdi-alert-outline warning-color"></i>
                                <i class="badge-dot badge-dot-warning"></i>
                            </span>
                            <span class="badge badge-warning badge-pill">
                                <i class="mdi mdi-alert-outline"></i>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="mdi mdi-upload dark-color"></i>
                                <i class="badge-dot badge-dot-dark"></i>
                            </span>
                            <span class="badge badge-dark badge-pill">
                                <i class="mdi mdi-upload"></i>
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="mdi mdi-cloud-download light-color"></i>
                                <i class="badge-dot badge-dot-light"></i>
                            </span>
                            <span class="badge badge-light badge-pill">
                                <i class="mdi mdi-cloud-download"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body type-badge-list">
                    <h4 class="card-title mb-4">Badge With Icons</h4>
                    <ul>
                        <li>
                            <button type="button" class="btn btn-primary">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-primary">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-secondary">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-default">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-success">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-success">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-warning">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-warning">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-info">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-info">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-danger">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-dark">
                                Messages
                                <span class="badge">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-dark">
                                Messages
                                <span class="badge">4</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
