
@{
    ViewData["Title"] = "BootstrapTabs";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Bootstrap Tabs</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A tab is a hidden section of content activated by a menu.</p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Bootstrap Tab</h4>
                    <div class="tab-panel">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#dropdown1" data-toggle="tab">@@fat</a>
                                    <a class="dropdown-item" href="#dropdown2" data-toggle="tab">@@mdo</a>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen
                                book.
                            </div>
                            <div class="tab-pane" id="profile">
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more
                                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </div>
                            <div class="tab-pane" id="dropdown1">
                                It is a long established fact that a reader will be distracted by the readable content of a page when
                                looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to
                                using 'Content here, content here', making it look like readable English.
                            </div>
                            <div class="tab-pane" id="dropdown2">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                                and a search for 'lorem
                                ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
                                sometimes
                                by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Icon Tab</h4>
                    <div class="tab-panel">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home-icon">
                                    <i class="mdi mdi-home md-18"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#archive">
                                    <i class="mdi mdi-archive md-18"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="mdi mdi-cloud-upload md-18"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#dropdown3" data-toggle="tab">@@fat</a>
                                    <a class="dropdown-item" href="#dropdown4" data-toggle="tab">@@mdo</a>
                                </div>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home-icon">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen
                                book.
                            </div>
                            <div class="tab-pane" id="archive">
                                Archive It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more
                                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </div>
                            <div class="tab-pane" id="chrome">
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                                more
                                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                            </div>
                            <div class="tab-pane" id="dropdown3">
                                It is a long established fact that a reader will be distracted by the readable content of a page when
                                looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to
                                using 'Content here, content here', making it look like readable English.
                            </div>
                            <div class="tab-pane" id="dropdown4">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                                and a search for 'lorem
                                ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
                                sometimes
                                by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Vertical Tab</h4>
                    <div class="tab-panel">
                        <div class="nav-left d-flex">
                            <div class="nav flex-column success-tab">
                                <a class="nav-link active" data-toggle="tab" href="#v-home">Home</a>
                                <a class="nav-link" data-toggle="tab" href="#v-profile">Profile</a>
                                <a class="nav-link" data-toggle="tab" href="#v-messages">Messages</a>
                                <a class="nav-link" data-toggle="tab" href="#v-settings">Settings</a>
                            </div>
                            <div class="tab-content bg-success text-white">
                                <div class="tab-pane active" id="v-home" role="tabpanel">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy
                                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                    type
                                    specimen book.
                                </div>
                                <div class="tab-pane" id="v-profile" role="tabpanel">
                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and
                                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                </div>
                                <div class="tab-pane" id="v-messages" role="tabpanel">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when
                                    looking at its layout.
                                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                    to
                                    using 'Content here, content here', making it look like readable English.
                                </div>
                                <div class="tab-pane" id="v-settings" role="tabpanel">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                                    and a search for 'lorem
                                    ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
                                    years,
                                    sometimes by accident, sometimes on purpose (injected humour and the like).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Vertical Icon Tab</h4>
                    <div class="tab-panel">
                        <div class="nav-left d-flex">
                            <div class="nav flex-column danger-tab">
                                <a class="nav-link active" data-toggle="tab" href="#v-home-icon">
                                    <i class="mdi mdi-home md-18"></i>
                                </a>
                                <a class="nav-link" data-toggle="tab" href="#v-archive-icon">
                                    <i class="mdi mdi-archive md-18"></i>
                                </a>
                                <a class="nav-link" data-toggle="tab" href="#v-cloud-icon">
                                    <i class="mdi mdi-cloud-upload md-18"></i>
                                </a>
                            </div>
                            <div class="tab-content bg-danger text-white">
                                <div class="tab-pane active" id="v-home-icon">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy
                                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                    type
                                    specimen book.
                                </div>
                                <div class="tab-pane" id="v-archive-icon">
                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                </div>
                                <div class="tab-pane" id="v-cloud-icon">
                                    Cloud It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Tab With Bedges</h4>
                    <div class="tab-panel">
                        <div class="tab-responsive">
                            <ul class="nav nav-tabs tabs-container">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#b-home">
                                        Home
                                        <span class="badge badge-primary badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#b-messages">
                                        Messages
                                        <span class="badge badge-info badge-pill">14</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#b-settings">
                                        Settings
                                        <span class="badge badge-success badge-pill">14</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="b-home">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy
                                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                specimen
                                book.
                            </div>
                            <div class="tab-pane" id="b-messages">
                                It is a long established fact that a reader will be distracted by the readable content of a page when
                                looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                to
                                using 'Content here, content here', making it look like readable English.
                            </div>
                            <div class="tab-pane" id="b-settings">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                                and a search for 'lorem
                                ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
                                sometimes
                                by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Vertical Tab with badges</h4>
                    <div class="tab-panel">
                        <div class="nav-left d-flex">
                            <div class="nav flex-column">
                                <a class="nav-link active" data-toggle="tab" href="#b-v-home">
                                    Home
                                    <span class="badge badge-default badge-pill">14</span>
                                </a>
                                <a class="nav-link" data-toggle="tab" href="#b-v-profile">
                                    Profile
                                    <span class="badge badge-primary badge-pill">14</span>
                                </a>
                                <a class="nav-link" data-toggle="tab" href="#b-v-messages">
                                    Messages
                                    <span class="badge badge-info badge-pill">14</span>
                                </a>
                                <a class="nav-link" data-toggle="tab" href="#b-v-settings">
                                    Settings
                                    <span class="badge badge-success badge-pill">14</span>
                                </a>
                            </div>

                            <div class="tab-content d-flex">
                                <div class="tab-pane active" id="b-v-home" role="tabpanel">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                    industry's standard dummy
                                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                                    type
                                    specimen book.
                                </div>
                                <div class="tab-pane" id="b-v-profile" role="tabpanel">
                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged.
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and
                                    more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                </div>
                                <div class="tab-pane" id="b-v-messages" role="tabpanel">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when
                                    looking at its layout.
                                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
                                    to using 'Content here, content here', making it look like readable English.
                                </div>
                                <div class="tab-pane" id="b-v-settings" role="tabpanel">
                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                                    and a search for 'lorem
                                    ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the
                                    years,
                                    sometimes by accident, sometimes on purpose (injected humour and the like).
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Links</h4>
                    <div class="tab-panel">
                        <nav class="nav">
                            <a class="nav-link active" href="javascript:void(0)">Active</a>
                            <a class="nav-link" href="javascript:void(0)">Link</a>
                            <a class="nav-link" href="javascript:void(0)">Link</a>
                            <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
                        </nav>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Vertical Links</h4>
                    <div class="tab-panel">
                        <nav class="nav flex-column">
                            <a class="nav-link active" href="javascript:void(0)">Active</a>
                            <a class="nav-link" href="javascript:void(0)">Link</a>
                            <a class="nav-link" href="javascript:void(0)">Link</a>
                            <a class="nav-link disabled" href="javascript:void(0)">Disabled</a>
                        </nav>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Stacked Tab</h4>
                    <div class="tab-panel">
                        <ul class="nav nav-tabs nav-stacked">
                            <li>
                                <a class="nav-link" href="javascript:void(0)">Home</a>
                            </li>
                            <li>
                                <a class="nav-link" href="javascript:void(0)">Profile</a>
                            </li>
                            <li>
                                <a class="nav-link" href="javascript:void(0)">
                                    Messages
                                    <span class="badge badge-primary badge-pill">14</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)">@@fat</a>
                                    <a class="dropdown-item" href="javascript:void(0)">@@mdo</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Menu Link Tab</h4>
                    <ul class="nav nav-tabs menu-link">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">
                                Messages
                                <span class="badge badge-info badge-pill">14</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown margin-left-auto">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:void(0)">@@fat</a>
                                <a class="dropdown-item" href="javascript:void(0)">@@mdo</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Tab Pills</h4>
                    <div class="tab-responsive">
                        <ul class="nav nav-pills mb-3 success-tab tabs-container">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-pills-home">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-pills-profile">
                                    Profile

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-pills-messages">Messages</a>
                            </li>
                            <li class="dropdown ml-2">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)">@@fat</a>
                                    <a class="dropdown-item" href="javascript:void(0)">@@mdo</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-pills-home">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen
                            book.
                        </div>
                        <div class="tab-pane" id="tabs-pills-profile">
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                            more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </div>
                        <div class="tab-pane" id="tabs-pills-messages">
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout.
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                            using
                            'Content here, content here', making it look like readable English.
                        </div>
                        <div class="tab-pane" id="tabs-pills-settings">
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and
                            a search for 'lorem
                            ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
                            sometimes
                            by accident, sometimes on purpose (injected humour and the like).
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Tab Icon Pills</h4>
                    <div class="tab-responsive">
                        <ul class="nav nav-pills mb-3 align-items-center tabs-container">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-icon-pills-home">
                                    <i class="mdi mdi-home md-18 align-middle mr-2"></i>
                                    <span class="lh-3 align-middle d-inline-block">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-icon-pills-profile">
                                    <i class="mdi mdi-web md-18 align-middle mr-2"></i>
                                    <span class="lh-3 align-middle d-inline-block">Public</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-icon-pills-messages">
                                    <i class="mdi mdi-message md-18 align-middle mr-2"></i>
                                    <span class="lh-3 align-middle d-inline-block">Message</span>
                                </a>
                            </li>
                            <li class="dropdown ml-2">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="tab" href="#tabs-icon-pills-settings">
                                        <i class="mdi mdi-settings md-18 align-middle"></i>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="tab" href="#tabs-icon-pills-mdo">@@mdo</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-icon-pills-home">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen
                            book.
                        </div>
                        <div class="tab-pane" id="tabs-icon-pills-profile">
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                            more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </div>
                        <div class="tab-pane" id="tabs-icon-pills-messages">
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout.
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                            using
                            'Content here, content here', making it look like readable English.
                        </div>
                        <div class="tab-pane" id="tabs-icon-pills-settings">
                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and
                            a search for 'lorem
                            ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
                            sometimes
                            by accident, sometimes on purpose (injected humour and the like).
                        </div>
                        <div class="tab-pane" id="tabs-icon-pills-mdo">
                            mdo desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                            search for 'lorem
                            ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
                            sometimes
                            by accident, sometimes on purpose (injected humour and the like).
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Tab Badges Pills</h4>
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item">
                            <a class="nav-link success active" data-toggle="tab" href="#pills-home">
                                Home
                                <span class="badge badge-success badge-pill">14</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link primary" data-toggle="tab" href="#pills-profile">
                                Profile
                                <span class="badge badge-primary badge-pill">14</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link danger" data-toggle="tab" href="#pills-messages">
                                Messages
                                <span class="badge badge-danger badge-pill">14</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pills-home">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen
                            book.
                        </div>
                        <div class="tab-pane" id="pills-profile">
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                            more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </div>
                        <div class="tab-pane" id="pills-messages">
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout.
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                            using
                            'Content here, content here', making it look like readable English.
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Filled Tabs</h4>
                    <ul class="nav mb-3 filled-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#filled-home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-messages">Messages</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="filled-home">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen
                            book.
                        </div>
                        <div class="tab-pane" id="filled-profile">
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                            essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
                            more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </div>
                        <div class="tab-pane" id="filled-messages">
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout.
                            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                            using
                            'Content here, content here', making it look like readable English.
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Tabs Sizes</h4>
                    <ul class="nav mb-3 filled-tabs small-tab">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#filled-home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-messages">Messages</a>
                        </li>
                    </ul>
                    <ul class="nav mb-3 filled-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#filled-home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-messages">Messages</a>
                        </li>
                    </ul>
                    <ul class="nav mb-3 filled-tabs large-tab">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#filled-home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#filled-messages">Messages</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
