
@{
    ViewData["Title"] = "Buttons";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Buttons</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A button indicates a possible user action.</p>
            </div>
        </div>
    </section><!-- Heading Start -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4 bootstrap">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Default</h4>
                    <button type="button" class="btn btn-primary">Primary</button>
                    <button type="button" class="btn btn-secondary">Secondary</button>
                    <button type="button" class="btn btn-default">Default</button>
                    <button type="button" class="btn btn-success">Success</button>
                    <button type="button" class="btn btn-warning">Warning</button>
                    <button type="button" class="btn btn-info">Info</button>
                    <button type="button" class="btn btn-danger">Danger</button>
                    <button type="button" class="btn btn-link">Link</button>
                    <button type="button" class="btn btn-light">Light</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Rounded</h4>
                    <button type="button" class="btn btn-primary rounded-border">Primary</button>
                    <button type="button" class="btn btn-secondary rounded-border">Secondary</button>
                    <button type="button" class="btn btn-default rounded-border">Default</button>
                    <button type="button" class="btn btn-success rounded-border">Success</button>
                    <button type="button" class="btn btn-warning rounded-border">Warning</button>
                    <button type="button" class="btn btn-info rounded-border">Info</button>
                    <button type="button" class="btn btn-danger rounded-border">Danger</button>
                    <button type="button" class="btn btn-link rounded-border">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Outline</h4>
                    <button type="button" class="btn btn-primary btn-outline">Primary</button>
                    <button type="button" class="btn btn-secondary btn-outline ">Secondary</button>
                    <button type="button" class="btn btn-success btn-outline">Success</button>
                    <button type="button" class="btn btn-warning btn-outline">Warning</button>
                    <button type="button" class="btn btn-info btn-outline">Info</button>
                    <button type="button" class="btn btn-danger btn-outline">Danger</button>
                    <button type="button" class="btn btn-link btn-outline">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Rounded outline</h4>
                    <button type="button" class="btn btn-primary btn-outline rounded-border">Primary</button>
                    <button type="button" class="btn btn-secondary btn-outline rounded-border">Secondary</button>
                    <button type="button" class="btn btn-success btn-outline rounded-border">Success</button>
                    <button type="button" class="btn btn-warning btn-outline rounded-border">Warning</button>
                    <button type="button" class="btn btn-info btn-outline rounded-border">Info</button>
                    <button type="button" class="btn btn-danger btn-outline rounded-border">Danger</button>
                    <button type="button" class="btn btn-link btn-outline rounded-border">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Shadow</h4>
                    <button type="button" class="btn btn-primary shadow-btn">Primary</button>
                    <button type="button" class="btn btn-secondary shadow-btn">Secondary</button>
                    <button type="button" class="btn btn-success shadow-btn">Success</button>
                    <button type="button" class="btn btn-warning shadow-btn">Warning</button>
                    <button type="button" class="btn btn-info shadow-btn">Info</button>
                    <button type="button" class="btn btn-danger shadow-btn">Danger</button>
                    <button type="button" class="btn btn-link shadow-btn">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Inverse</h4>
                    <button type="button" class="btn btn-inverse-primary">Primary</button>
                    <button type="button" class="btn btn-inverse-secondary">Secondary</button>
                    <button type="button" class="btn btn-inverse-success">Success</button>
                    <button type="button" class="btn btn-inverse-warning">Warning</button>
                    <button type="button" class="btn btn-inverse-info">Info</button>
                    <button type="button" class="btn btn-inverse-danger">Danger</button>
                    <button type="button" class="btn btn-inverse-light">Light</button>
                    <button type="button" class="btn btn-link">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Large</h4>
                    <button type="button" class="btn btn-primary btn-lg">Primary</button>
                    <button type="button" class="btn btn-secondary btn-lg">Secondary</button>
                    <button type="button" class="btn btn-success btn-lg">Success</button>
                    <button type="button" class="btn btn-warning btn-lg">Warning</button>
                    <button type="button" class="btn btn-info btn-lg">Info</button>
                    <button type="button" class="btn btn-danger btn-lg">Danger</button>
                    <button type="button" class="btn btn-link btn-lg">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Large outline</h4>
                    <button type="button" class="btn btn-primary btn-outline btn-lg">Primary</button>
                    <button type="button" class="btn btn-secondary btn-outline btn-lg">Secondary</button>
                    <button type="button" class="btn btn-success btn-outline btn-lg">Success</button>
                    <button type="button" class="btn btn-warning btn-outline btn-lg">Warning</button>
                    <button type="button" class="btn btn-info  btn-outline btn-lg">Info</button>
                    <button type="button" class="btn btn-danger btn-outline btn-lg">Danger</button>
                    <button type="button" class="btn btn-link btn-outline btn-lg">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Medium</h4>
                    <button type="button" class="btn btn-primary btn-md">Primary</button>
                    <button type="button" class="btn btn-secondary btn-md">Secondary</button>
                    <button type="button" class="btn btn-success btn-md">Success</button>
                    <button type="button" class="btn btn-warning btn-md">Warning</button>
                    <button type="button" class="btn btn-info btn-md">Info</button>
                    <button type="button" class="btn btn-danger btn-md">Danger</button>
                    <button type="button" class="btn btn-link btn-md">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Medium outline</h4>
                    <button type="button" class="btn btn-primary btn-outline btn-md">Primary</button>
                    <button type="button" class="btn btn-secondary btn-outline btn-md">Secondary</button>
                    <button type="button" class="btn btn-success btn-outline btn-md">Success</button>
                    <button type="button" class="btn btn-warning btn-outline btn-md">Warning</button>
                    <button type="button" class="btn btn-info  btn-outline btn-md">Info</button>
                    <button type="button" class="btn btn-danger btn-outline btn-md">Danger</button>
                    <button type="button" class="btn btn-link btn-outline btn-md">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Small</h4>
                    <button type="button" class="btn btn-primary btn-sm">Primary</button>
                    <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
                    <button type="button" class="btn btn-success btn-sm">Success</button>
                    <button type="button" class="btn btn-warning btn-sm">Warning</button>
                    <button type="button" class="btn btn-info btn-sm">Info</button>
                    <button type="button" class="btn btn-danger btn-sm">Danger</button>
                    <button type="button" class="btn btn-link btn-sm">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Small outline</h4>
                    <button type="button" class="btn btn-primary btn-outline btn-sm">Primary</button>
                    <button type="button" class="btn btn-secondary btn-outline btn-sm">Secondary</button>
                    <button type="button" class="btn btn-success btn-outline btn-sm">Success</button>
                    <button type="button" class="btn btn-warning btn-outline btn-sm">Warning</button>
                    <button type="button" class="btn btn-info  btn-outline btn-sm">Info</button>
                    <button type="button" class="btn btn-danger btn-outline btn-sm">Danger</button>
                    <button type="button" class="btn btn-link btn-outline btn-sm">Link</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4 btn-inline-spacing">
                <div class="card-body">
                    <h4 class="card-title mb-4">Buttons with Icon</h4>
                    <div class="btn-inline-spacing">
                        <div>
                            <button type="button" class="btn btn-primary btn-lg">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-18 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-lg">
                                <i class="mdi mdi-reply mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success btn-lg">
                                <i class="mdi mdi-link mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-lg">
                                <i class="mdi mdi-check-all mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info btn-lg">
                                <i class="mdi mdi-close mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-lg">
                                <i class="mdi mdi-navigation mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-md">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-18 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-md">
                                <i class="mdi mdi-reply md-18 mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success btn-md">
                                <i class="mdi mdi-link md-18 mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-md">
                                <i class="mdi mdi-check-all md-18 mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info btn-md">
                                <i class="mdi mdi-close md-18 mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-md">
                                <i class="mdi mdi-navigation md-18 mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-18 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <i class="mdi mdi-reply md-18 mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success">
                                <i class="mdi mdi-link md-18 mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning">
                                <i class="mdi mdi-check-all md-18 mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info">
                                <i class="mdi mdi-close md-18 mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="mdi mdi-navigation md-18 mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-16 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm">
                                <i class="mdi mdi-reply md-16 mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="mdi mdi-link md-16 mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm">
                                <i class="mdi mdi-check-all md-16 mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="mdi mdi-close md-16 mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <i class="mdi mdi-navigation md-16 mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4 btn-inline-spacing">
                <div class="card-body">
                    <h4 class="card-title mb-4">Outline buttons with Icon</h4>
                    <div class="btn-inline-spacing">
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-lg">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-18 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-lg">
                                <i class="mdi mdi-reply mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-lg">
                                <i class="mdi mdi-link mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-lg">
                                <i class="mdi mdi-check-all mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline btn-lg">
                                <i class="mdi mdi-close mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-lg">
                                <i class="mdi mdi-navigation mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-md">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-18 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-md">
                                <i class="mdi mdi-reply md-18 mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-md">
                                <i class="mdi mdi-link md-18 mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-md">
                                <i class="mdi mdi-check-all md-18 mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline btn-md">
                                <i class="mdi mdi-close md-18 mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-md">
                                <i class="mdi mdi-navigation md-18 mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-18 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline">
                                <i class="mdi mdi-reply md-18 mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success btn-outline">
                                <i class="mdi mdi-link md-18 mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline">
                                <i class="mdi mdi-check-all md-18 mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline">
                                <i class="mdi mdi-close md-18 mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline">
                                <i class="mdi mdi-navigation md-18 mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-sm">
                                <span class="align-middle">Send</span>
                                <i class="mdi mdi-send md-16 ml-2"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-sm">
                                <i class="mdi mdi-reply md-16 mr-2"></i>
                                <span class="align-middle">Reply</span>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-sm">
                                <i class="mdi mdi-link md-16 mr-2"></i>
                                <span class="align-middle">Link</span>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-sm">
                                <i class="mdi mdi-check-all md-16 mr-2"></i>
                                <span class="align-middle">Done All</span>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline btn-sm">
                                <i class="mdi mdi-close md-16 mr-2"></i>
                                <span class="align-middle">Close</span>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-sm">
                                <i class="mdi mdi-navigation md-16 mr-2"></i>
                                <span class="align-middle">Navigation</span>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4 btn-inline-spacing">
                <div class="card-body">
                    <h4 class="card-title mb-4">Filled Icon Buttons</h4>
                    <div class="btn-inline-spacing">
                        <div>
                            <button type="button" class="btn btn-primary btn-lg">
                                <i class="mdi mdi-send"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-lg">
                                <i class="mdi mdi-reply"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-lg">
                                <i class="mdi mdi-link"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-lg">
                                <i class="mdi mdi-check-all"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-lg">
                                <i class="mdi mdi-close"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-lg">
                                <i class="mdi mdi-navigation"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-md">
                                <i class="mdi mdi-send md-18"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-md">
                                <i class="mdi mdi-reply md-18"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-md">
                                <i class="mdi mdi-link md-18"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-md">
                                <i class="mdi mdi-check-all md-18"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-md">
                                <i class="mdi mdi-close md-18"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-md">
                                <i class="mdi mdi-navigation md-18"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">
                                <i class="mdi mdi-send md-18"></i>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <i class="mdi mdi-reply md-18"></i>
                            </button>
                            <button type="button" class="btn btn-success">
                                <i class="mdi mdi-link md-18"></i>
                            </button>
                            <button type="button" class="btn btn-warning">
                                <i class="mdi mdi-check-all md-18"></i>
                            </button>
                            <button type="button" class="btn btn-info">
                                <i class="mdi mdi-close md-18"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="mdi mdi-navigation md-18"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="mdi mdi-send md-16"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm">
                                <i class="mdi mdi-reply md-16"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="mdi mdi-link md-16"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-sm">
                                <i class="mdi mdi-check-all md-16"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="mdi mdi-close md-16"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <i class="mdi mdi-navigation md-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4 btn-inline-spacing">
                <div class="card-body">
                    <h4 class="card-title mb-4">Icon Buttons</h4>
                    <div class="btn-inline-spacing">
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-lg">
                                <i class="mdi mdi-send"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-lg">
                                <i class="mdi mdi-reply"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-lg">
                                <i class="mdi mdi-link"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-lg">
                                <i class="mdi mdi-check-all"></i>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline btn-lg">
                                <i class="mdi mdi-close"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-lg">
                                <i class="mdi mdi-navigation"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-md">
                                <i class="mdi mdi-send md-18"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-md">
                                <i class="mdi mdi-reply md-18"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-md">
                                <i class="mdi mdi-link md-18"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-md">
                                <i class="mdi mdi-check-all md-18"></i>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline btn-md">
                                <i class="mdi mdi-close md-18"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-md">
                                <i class="mdi mdi-navigation md-18"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline">
                                <i class="mdi mdi-send md-18"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline">
                                <i class="mdi mdi-reply md-18"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline">
                                <i class="mdi mdi-link md-18"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline">
                                <i class="mdi mdi-check-all md-18"></i>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline">
                                <i class="mdi mdi-close md-18"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline">
                                <i class="mdi mdi-navigation md-18"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-sm">
                                <i class="mdi mdi-send md-16"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-sm">
                                <i class="mdi mdi-reply md-16"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-sm">
                                <i class="mdi mdi-link md-16"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-sm">
                                <i class="mdi mdi-check-all md-16"></i>
                            </button>
                            <button type="button" class="btn btn-info  btn-outline btn-sm">
                                <i class="mdi mdi-close md-16"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-sm">
                                <i class="mdi mdi-navigation md-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4 btn-inline-spacing">
                <div class="card-body">
                    <h4 class="card-title mb-4">Filled Rounded Buttons</h4>
                    <div class="btn-inline-spacing">
                        <div>
                            <button type="button" class="btn btn-primary btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-send md-36"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-reply md-36"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-link md-36"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-check-all md-36"></i>
                            </button>
                            <button type="button" class="btn btn-info  btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-close md-36"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-navigation md-36"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-send md-24"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-reply md-24"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-link md-24"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-check-all md-24"></i>
                            </button>
                            <button type="button" class="btn btn-info  btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-close md-24"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-navigation md-24"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-rounded btn-icons">
                                <i class="mdi mdi-send md-18"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-rounded btn-icons">
                                <i class="mdi mdi-reply md-18"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-rounded btn-icons">
                                <i class="mdi mdi-link md-18"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-rounded btn-icons">
                                <i class="mdi mdi-check-all md-18"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-rounded btn-icons">
                                <i class="mdi mdi-close md-18"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-rounded btn-icons">
                                <i class="mdi mdi-navigation md-18"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-send md-16"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-reply md-16"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-link md-16"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-check-all md-16"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-rounded  btn-icons btn-sm">
                                <i class="mdi mdi-close md-16"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-navigation md-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4 btn-inline-spacing">
                <div class="card-body">
                    <h4 class="card-title mb-4">Rounded Buttons</h4>
                    <div class="btn-inline-spacing">
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-send md-36"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-reply md-36"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-link md-36"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-check-all md-36"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-outline  btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-close md-36"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-icons btn-rounded btn-lg">
                                <i class="mdi mdi-navigation md-36"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-send md-24"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-reply md-24"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-link md-24"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-check-all md-24"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-outline  btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-close md-24"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-icons btn-rounded btn-md">
                                <i class="mdi mdi-navigation md-24"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-rounded btn-icons">
                                <i class="mdi mdi-send md-18"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-rounded btn-icons">
                                <i class="mdi mdi-reply md-18"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-rounded btn-icons">
                                <i class="mdi mdi-link md-18"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-rounded btn-icons">
                                <i class="mdi mdi-check-all md-18"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-outline btn-rounded btn-icons">
                                <i class="mdi mdi-close md-18"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-rounded btn-icons">
                                <i class="mdi mdi-navigation md-18"></i>
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary btn-outline btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-send md-16"></i>
                            </button>
                            <button type="button" class="btn btn-secondary btn-outline btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-reply md-16"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-outline btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-link md-16"></i>
                            </button>
                            <button type="button" class="btn btn-warning btn-outline btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-check-all md-16"></i>
                            </button>
                            <button type="button" class="btn btn-info btn-outline btn-rounded  btn-icons btn-sm">
                                <i class="mdi mdi-close md-16"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-outline btn-rounded btn-icons btn-sm">
                                <i class="mdi mdi-navigation md-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body mb-4">
                    <h4 class="card-title mb-4">Social Buttons</h4>
                    <div class="d-block mb-3">
                        <button type="button" class="btn-fb btn-social mr-2">
                            <i class="mdi mdi-facebook"></i>
                        </button>
                        <button type="button" class="btn-tw btn-social  mr-2">
                            <i class="mdi mdi-twitter"></i>
                        </button>
                        <button type="button" class="btn-dribble btn-social  mr-2">
                            <i class="mdi mdi-dribbble"></i>
                        </button>
                        <button type="button" class="btn-ln btn-social  mr-2">
                            <i class="mdi mdi-linkedin"></i>
                        </button>
                        <button type="button" class="btn-gplus btn-social ">
                            <i class="mdi mdi-google-plus"></i>
                        </button>
                    </div>
                    <div class="d-block">
                        <button type="button" class="btn-outline-fb btn-social-outline  mr-2">
                            <i class="mdi mdi-facebook"></i>
                        </button>
                        <button type="button" class="btn-outline-tw btn-social-outline  mr-2">
                            <i class="mdi mdi-twitter"></i>
                        </button>
                        <button type="button" class="btn-outline-dribble btn-social-outline  mr-2">
                            <i class="mdi mdi-dribbble"></i>
                        </button>
                        <button type="button" class="btn-outline-ln btn-social-outline  mr-2">
                            <i class="mdi mdi-linkedin"></i>
                        </button>
                        <button type="button" class="btn-outline-gplus btn-social-outline ">
                            <i class="mdi mdi-google-plus"></i>
                        </button>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body mb-4">
                    <h4 class="card-title mb-4">Social Rounded Buttons</h4>
                    <div class="d-block mb-3">
                        <button type="button" class="btn-fb btn-social btn-rounded  mr-2">
                            <i class="mdi mdi-facebook"></i>
                        </button>
                        <button type="button" class="btn-tw btn-social btn-rounded  mr-2">
                            <i class="mdi mdi-twitter"></i>
                        </button>
                        <button type="button" class="btn-dribble btn-social btn-rounded  mr-2">
                            <i class="mdi mdi-dribbble"></i>
                        </button>
                        <button type="button" class="btn-ln btn-social btn-rounded  mr-2">
                            <i class="mdi mdi-linkedin"></i>
                        </button>
                        <button type="button" class="btn-gplus btn-social btn-rounded ">
                            <i class="mdi mdi-google-plus"></i>
                        </button>
                    </div>
                    <div class="d-block mb-3">
                        <button type="button" class="btn-outline-fb btn-social-outline btn-rounded  mr-2">
                            <i class="mdi mdi-facebook"></i>
                        </button>
                        <button type="button" class="btn-outline-tw btn-social-outline btn-rounded  mr-2">
                            <i class="mdi mdi-twitter"></i>
                        </button>
                        <button type="button" class="btn-outline-dribble btn-social-outline btn-rounded  mr-2">
                            <i class="mdi mdi-dribbble"></i>
                        </button>
                        <button type="button" class="btn-outline-ln btn-social-outline btn-rounded  mr-2">
                            <i class="mdi mdi-linkedin"></i>
                        </button>
                        <button type="button" class="btn-outline-gplus btn-social-outline btn-rounded ">
                            <i class="mdi mdi-google-plus"></i>
                        </button>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Block Buttons</h4>
                    <button type="button" class="btn btn-secondary btn-block mb-4">Secondary</button>
                    <button type="button" class="btn btn-primary btn-block mb-4">Primary</button>
                    <button type="button" class="btn btn-success btn-block mb-4">Success</button>
                    <button type="button" class="btn btn-warning btn-block mb-4">Warning</button>
                    <button type="button" class="btn btn-info btn-block mb-4">Info</button>
                    <button type="button" class="btn btn-danger btn-block mb-4">Danger</button>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Checkbox and Radio</h4>
                    <div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group btn-group-toggle" data-toggle="button">
                            <button type="button" class="btn btn-primary">Check1</button>
                            <button type="button" class="btn btn-primary">Check2</button>
                            <button type="button" class="btn btn-primary">Check3</button>
                        </div>
                    </div>
                    <div class="btn-toolbar mb-4" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-primary">Radio1</button>
                            <button type="button" class="btn btn-primary">Radio2</button>
                            <button type="button" class="btn btn-primary">Radio3</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mr-2 mb-2">
                        <i class="fa fa-check" aria-hidden="true"></i> Submit
                    </button>
                    <button type="button" class="btn btn-success mr-2 mb-2">
                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                    </button>
                    <button type="button" class="btn btn-warning mr-2 mb-2">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                    </button>
                    <button type="button" class="btn btn-info btn-outline mr-2 mb-2">
                        <i class="fa fa-facebook"></i> Facebook
                    </button>
                    <button type="button" class="btn btn-danger btn-outline">
                        <i class="fa fa-map-marker"></i> Map
                    </button>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
