
@{
    ViewData["Title"] = "Thumbnails";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Thumbnails</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A small picture of an image or page layout.</p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body thumbnail">
                    <h4 class="card-title mb-4">Default Thumbnails</h4>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)">
                                <img src="~/assets/images/640/architecture-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)">
                                <img src="~/assets/images/640/bike-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)">
                                <img src="~/assets/images/640/champagne-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)">
                                <img src="~/assets/images/640/church-640.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body thumbnail">
                    <h4 class="card-title mb-4">Overlay Thumbnails</h4>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/selfie-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/log-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/mushroom-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/organ-640.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body thumbnail">
                    <h4 class="card-title mb-4">Text with content Thumbnails</h4>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/ripon-cathedral-640.jpg" alt="" />
                                <div class="thumb-text text-white">
                                    text
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/light-bulb-640.jpg" alt="" />
                                <div class="thumb-text text-white">
                                    text
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/stone-640.jpg" alt="" />
                                <div class="thumb-text text-white">
                                    text
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay">
                                <span class="bg-overlay"></span>
                                <img src="~/assets/images/640/traffic-640.jpg" alt="" />
                                <div class="thumb-text text-white">
                                    text
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body thumbnail">
                    <h4 class="card-title mb-4">Shadow with Thumbnails</h4>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay img-shadow">
                                <span class="bg-overlay bg-white"></span>
                                <img src="~/assets/images/640/forest-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay img-shadow">
                                <span class="bg-overlay bg-white"></span>
                                <img src="~/assets/images/640/son-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay img-shadow">
                                <span class="bg-overlay bg-white"></span>
                                <img src="~/assets/images/640/glass-640.jpg" alt="" />
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <a href="javascript:void(0)" class="overlay img-shadow">
                                <span class="bg-overlay bg-white"></span>
                                <img src="~/assets/images/640/woman-640.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
