
@{
    ViewData["Title"] = "Tooltips";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Tooltips</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A message which appears when a cursor is positioned over an element.</p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Default Tooltips</h4>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                        Tooltip on top
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                        Tooltip on right
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-placement="bottom"
                            title="Tooltip on bottom">
                        Tooltip on bottom
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-placement="left" title="Tooltip on left">
                        Tooltip on left
                    </button>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Variants Tooltips</h4>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-state="primary"
                            data-placement="top" title="Tooltip on top">
                        Primary
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-state="secondary"
                            data-placement="bottom" title="Tooltip on bottom">
                        Secondary
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-state="success"
                            data-placement="left" title="Tooltip on left">
                        Success
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-state="warning"
                            data-placement="right" title="Tooltip on right">
                        Warning
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-state="danger"
                            data-placement="top" title="Tooltip on top">
                        Danger
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-state="info"
                            data-placement="bottom" title="Tooltip on bottom">
                        Info
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-toggle="tooltip" data-state="dark"
                            data-placement="top" title="Tooltip on top">
                        Dark
                    </button>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Default Popovers</h4>
                    <button type="button" class="btn btn-default mr-2" data-original-title="Popover title" data-container="body"
                            data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Popover on top
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-original-title="Popover title" data-container="body"
                            data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Popover on right
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-original-title="Popover title" data-container="body"
                            data-toggle="popover" data-placement="bottom" data-content="Vivamus
    sagittis lacus vel augue laoreet rutrum faucibus.">
                        Popover on bottom
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-original-title="Popover title" data-container="body"
                            data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Popover on left
                    </button>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body btn-inline-spacing">
                    <h4 class="card-title mb-4">Variants Popovers</h4>
                    <button type="button" class="btn btn-default mr-2" data-state="primary" data-original-title="Popover title"
                            data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Primary
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-state="secondary" data-original-title="Popover title"
                            data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Secondary
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-state="success" data-original-title="Popover title"
                            data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
    sagittis lacus vel augue laoreet rutrum faucibus.">
                        Success
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-state="warning" data-original-title="Popover title"
                            data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Warning
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-state="danger" data-original-title="Popover title"
                            data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Danger
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-state="info" data-original-title="Popover title"
                            data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Info
                    </button>
                    <button type="button" class="btn btn-default mr-2" data-state="dark" data-original-title="Popover title"
                            data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                        Dark
                    </button>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{

}

@section Scripts{
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/js/demo/tooltip-popover-demo.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
}
