
@{
    ViewData["Title"] = "Typography";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Typography</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A typography show art or procedure of arranging element.</p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Boostrap Headings</h4>
                    <h1 class="color-dark-grey">
                        Heading 1
                        <small class="text-muted">Secondary Text</small>
                    </h1>
                    <h2 class="color-dark-grey">
                        Heading 2
                        <small class="text-muted">Secondary Text</small>
                    </h2>
                    <h3 class="color-dark-grey">
                        Heading 3
                        <small class="text-muted">Secondary Text</small>
                    </h3>
                    <h4 class="color-dark-grey">
                        Heading 4
                        <small class="text-muted">Secondary Text</small>
                    </h4>
                    <h5 class="color-dark-grey">
                        Heading 5
                        <small class="text-muted">Secondary Text</small>
                    </h5>
                    <h6 class="color-dark-grey">
                        Heading 6
                        <small class="text-muted">Secondary Text</small>
                    </h6>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Custom Headings</h4>
                    <h1 class="c-h1 font-weight-100 color-dark-grey">
                        Heading 1
                        <small class="text-muted">Secondary Text</small>
                    </h1>
                    <h2 class="c-h2 font-weight-200 color-dark-grey">
                        Heading 2
                        <small class="text-muted">Secondary Text</small>
                    </h2>
                    <h3 class="c-h3 font-weight-500 color-dark-grey">
                        Heading 3
                        <small class="text-muted">Secondary Text</small>
                    </h3>
                    <h4 class="c-h4 font-weight-600 color-dark-grey">
                        Heading 4
                        <small class="text-muted">Secondary Text</small>
                    </h4>
                    <h5 class="c-h5 font-weight-600 color-dark-grey">
                        Heading 5
                        <small class="text-muted">Secondary Text</small>
                    </h5>
                    <h6 class="c-h6 font-weight-300 color-dark-grey">
                        Heading 6
                        <small class="text-muted">Secondary Text</small>
                    </h6>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Display Headings</h4>
                    <h1 class="display-1">Display Heading 1</h1>
                    <h1 class="display-2">Display Heading 2</h1>
                    <h1 class="display-3">Display Heading 3</h1>
                    <h1 class="display-4">Display Heading 4</h1>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Paragraph</h4>
                    <p>
                        Lorem ipsum eget urna mollis
                        <code>ornare</code> vel eu leo. Cum sociisnatoque penatibus et magnis dis
                        parturient montes, code
                        nascetur
                        ridiculus mus. Nullam id dolor id
                        <span class="war-text">nibh ultricies vehicula</span> ut id elit. Sed euismod
                        aliquet sapien
                        consequat
                        tincidunt.
                    </p>
                    <p>
                        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis
                        mollis, est non commodo
                        luctus,
                        nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
                        Sed euismod aliquet
                        sapien
                        consequat tincidunt.
                    </p>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Unstyled List</h4>
                    <ul class="list unstyle">
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Unordered List</h4>
                    <ul class="list unorder pl-4">
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Ordered List</h4>
                    <ol class="list ordered pl-3">
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>
                            Lorem ipsum eget urna mollis
                            <ul class="pl-2">
                                <li>Lorem ipsum eget urna mollis</li>
                                <li>Lorem ipsum eget urna mollis</li>
                                <li>Lorem ipsum eget urna mollis</li>
                                <li>Lorem ipsum eget urna mollis</li>
                                <li>Lorem ipsum eget urna mollis</li>
                            </ul>
                        </li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                        <li>Lorem ipsum eget urna mollis</li>
                    </ol>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Descriptive List</h4>
                    <dl>
                        <dt>Description list</dt>
                        <dd>Lorem ipsum eget urna molli</dd>
                    </dl>
                    <dl>
                        <dt>Description list1</dt>
                        <dd>Lorem ipsum eget urna molli</dd>
                    </dl>
                    <dl>
                        <dt>Description list2</dt>
                        <dd>Lorem ipsum eget urna molli</dd>
                    </dl>
                </div>
            </article>
        </div>

        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Description List</h4>
                    <dl class="row">
                        <dt class="col-sm-3">Description lists</dt>
                        <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">Euismod</dt>
                        <dd class="col-sm-9">
                            Vestibulum id ligula porta felis euismod semper eget
                            lacinia odio sem nec
                            elit.
                        </dd>
                    </dl>
                    <dl class="row">
                        <dd class="col-sm-9 offset-sm-3">
                            Donec id elit non mi porta gravida at eget
                            metus.
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">Malesuada porta</dt>
                        <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                        <dd class="col-sm-9">
                            Fusce dapibus, tellus ac cursus commodo, tortor mauris
                            condimentum nibh, ut
                            fermentum
                            massa justo sit amet risus.
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3">Nesting</dt>
                        <dd class="col-sm-9">
                            <dl class="row">
                                <dt class="col-sm-4">Nested definition list</dt>
                                <dd class="col-sm-8">
                                    Aenean posuere, tortor sed cursus feugiat, nunc
                                    augue blandit nunc.
                                </dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Group List</h4>
                    <div class="list-group">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed diam eget risus
                                varius
                                blandit.
                            </p>
                            <small class="align-self-end">Donec id elit non mi porta.</small>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed diam eget risus
                                varius
                                blandit.
                            </p>
                            <small class="align-self-end">Donec id elit non mi porta.</small>
                        </a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between mb-2">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">
                                Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed diam eget risus
                                varius
                                blandit.
                            </p>
                            <small class="align-self-end">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Group List</h4>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action active">
                            Dapibus ac facilisis
                            in
                        </li>
                        <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
                        <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
                        <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
                        <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Group List</h4>
                    <ul class="list-group">
                        <li class="list-group-item justify-content-between">
                            Cras justo odio
                            <span class="badge badge-light badge-pill">14</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Dapibus ac facilisis in
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Morbi leo risus
                            <span class="badge badge-info badge-pill">1</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Morbi leo risus
                            <span class="badge badge-danger badge-pill">1</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Morbi leo risus
                            <span class="badge badge-success badge-pill">1</span>
                        </li>
                        <li class="list-group-item justify-content-between">
                            Morbi leo risus
                            <span class="badge badge-warning badge-pill">1</span>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Emphasis Classes</h4>
                    <p class="text-muted">This is an example of muted text.</p>
                    <p class="text-primary">This is an example of primary text.</p>
                    <p class="text-success">This is an example of success text.</p>
                    <p class="text-info">This is an example of info text.</p>
                    <p class="text-warning">This is an example of warning text.</p>
                    <p class="text-danger">This is an example of danger text.</p>
                    <p>
                        <del>This is an example of danger text.</del>
                    </p>
                    <p>
                        <abbr title="HyperText Markup Language" class="initialism">HTML</abbr>
                    </p>
                    <p>
                        <s>This is an example of danger text.</s>
                    </p>
                </div>
            </article>
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Code Block</h4>
                    <p>Wrap inline code within a <code>...</code> tag.</p>
                    <p>
                        To switch directories, type <kbd>cd</kbd> followed by the name of the
                        directory.
                    </p>
                    <p>To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></p>
                    <pre>&lt;p&gt;This is an example of preformatted text&lt;/p&gt;</pre>
                    <p>
                        <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
                    </p>
                    <p>
                        <samp>
                            This text is meant to be treated as sample output from a computer
                            program.
                        </samp>
                    </p>
                </div>
            </article>
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Address</h4>
                    <div class="row">
                        <address class="col-md-6">
                            <strong>Twitter Bootstrap</strong>
                            <br> 7954 Lorum Ave, Ipsum 60000
                            <br> Ips Umberster, AA 411107
                            <br> P: (000) 000-0000
                        </address>
                        <address class="col-md-6">
                            <p class="mb-2">
                                <strong>Email Address</strong>
                                <br>
                                <a href="mailto:javascript:void(0)" class="text-primary">ttt@example.com</a>
                            </p>
                            <p>
                                <strong>Web Address</strong>
                                <br>
                                <a href="http://www.matrrdigital.com" class="text-primary">www.matrrdigital.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Blockquotes</h4>
                    <blockquote class="blockquote blockquote-primary">
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer posuere erat a
                            ante.
                        </p>
                        <footer class="blockquote-footer text-primary">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                    <blockquote class="blockquote blockquote-secondary">
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer posuere erat a
                            ante.
                        </p>
                        <footer class="blockquote-footer text-secondary">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                    <blockquote class="blockquote blockquote-warning">
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer posuere erat a
                            ante.
                        </p>
                        <footer class="blockquote-footer text-warning">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                    <blockquote class="blockquote blockquote-danger">
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer posuere erat a
                            ante.
                        </p>
                        <footer class="blockquote-footer text-danger">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                    <blockquote class="blockquote blockquote-success">
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer posuere erat a
                            ante.
                        </p>
                        <footer class="blockquote-footer text-success">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                    <blockquote class="blockquote blockquote-info">
                        <p class="mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer posuere erat a
                            ante.
                        </p>
                        <footer class="blockquote-footer text-info">
                            Someone famous in
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                    </blockquote>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Top aligned media</h4>
                    <div class="media">
                        <i class="mdi mdi-earth md-18 text-info align-items-start mr-3"></i>
                        <div class="media-body">
                            <p class="card-text">
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel
                                metus scelerisque.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Center aligned media</h4>
                    <div class="media">
                        <i class="mdi mdi-earth md-18 text-info align-items-center mr-3"></i>
                        <div class="media-body">
                            <p class="card-text">
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel
                                metus scelerisque.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Bottom aligned media</h4>
                    <div class="media">
                        <i class="mdi mdi-earth md-18 text-info align-items-end mr-3"></i>
                        <div class="media-body">
                            <p class="card-text">
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel
                                metus scelerisque.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Figures</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hover-image">
                                <figure>
                                    <img src="~/assets/images/640/forest-640.jpg" />
                                </figure>
                                <figcaption>A caption for an image</figcaption>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="hover-image">
                                <figure>
                                    <img src="~/assets/images/640/woman-640.jpg" />
                                </figure>
                                <div class="hover-text">
                                    <div class="abs-text">
                                        <a href="javascript:void(0)" class="image-button">
                                            <i class="mdi mdi-magnify md-24"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>Hover on image</figcaption>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-sm-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Jumbotron</h4>
                    <h3 class="display-4">Hello World!!</h3>
                    <p class="lead">This is a simple example of jumbotron-style.</p>
                    <hr />
                    <p>
                        It uses utility classes for typography and spacing to space content out within
                        the larger
                        container.
                    </p>
                    <p>
                        <a href="javascript:void(0)" class="btn btn-primary btn-lg waves-effect waves-light">
                            Learn
                            more
                        </a>
                    </p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">List With Icon</h4>
                    <ul class="list list-ticked">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit&gt;</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">List With Icon</h4>
                    <ul class="list list-arrow">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit&gt;</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-4">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">List With Icon</h4>
                    <ul class="list list-circle">
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>Nulla volutpat aliquam velit&gt;</li>
                    </ul>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Card Layout</h4>
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                        richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                        them accusamus
                        labore sustainable VHS.
                    </p>
                </div>
            </article>
        </div>
        <div class="col-12 col-md-6">
            <article class="box mb-4">
                <header class="box-header">
                    <h4 class="mb-4">Box Layout</h4>
                </header>
                <div class="box-content">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                        richardson ad squid. 3
                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum
                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla
                        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer
                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                        them accusamus
                        labore sustainable VHS.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
