
@{
    ViewData["Title"] = "FAQ";
}

<!-- Content Start -->
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <div id="accordion" class="accordion">
                <div class="section-heading bg-success text-white">
                    Section 1
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne"
                           aria-expanded="false" aria-controls="collapseOne">
                            How many instances of Lorum Ipsum usage can be found on the web?
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf
                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                assumenda
                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente
                                ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw
                                denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                VHS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            Anim pariatur cliche reprehenderit
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <img class="rounded mb-2" src="../../assets/images/300_300/glasses-1280.jpg" alt="image">
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                        squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            Anim pariatur cliche reprehenderit
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <img class="rounded mb-2" src="../../assets/images/300_300/manhattan-1280.jpg" alt="image">
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                        squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion1" class="accordion">
                <div class="section-heading bg-warning text-white">
                    Section 1
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#collapseFour"
                           aria-expanded="false" aria-controls="collapseOne">
                            How many instances of Lorum Ipsum usage can be found on the web?
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                        <div class="card-body">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf
                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                assumenda
                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente
                                ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw
                                denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                VHS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseFive"
                           aria-expanded="false" aria-controls="collapseTwo">
                            Anim pariatur cliche reprehenderit
                        </a>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <img class="rounded mb-2" src="../../assets/images/300_300/new-york-1280.jpg" alt="image">
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                        squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseSix"
                           aria-expanded="false" aria-controls="collapseThree">
                            Anim pariatur cliche reprehenderit
                        </a>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <img class="rounded mb-2" src="../../assets/images/300_300/new-york-1-1280.jpg" alt="image">
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                        squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion2" class="accordion">
                <div class="section-heading bg-danger text-white">
                    Section 1
                </div>
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <a href="javascript:void(0)" class="accordion-toggle" data-toggle="collapse" data-target="#collapseSeven"
                           aria-expanded="false" aria-controls="collapseOne">
                            How many instances of Lorum Ipsum usage can be found on the web?
                        </a>
                    </div>
                    <div id="collapseSeven" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion2">
                        <div class="card-body">
                            <p>
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf
                                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                assumenda
                                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente
                                ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                raw
                                denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                VHS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseEight"
                           aria-expanded="false" aria-controls="collapseTwo">
                            Anim pariatur cliche reprehenderit
                        </a>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <img class="rounded mb-2" src="../../assets/images/300_300/new-york-2-1280.jpg" alt="image">
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                        squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <a href="javascript:void(0)" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#collapseNine"
                           aria-expanded="false" aria-controls="collapseThree">
                            Anim pariatur cliche reprehenderit
                        </a>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordion2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4 col-md-3">
                                    <img class="rounded mb-2" src="../../assets/images/300_300/office-1280.jpg" alt="image">
                                </div>
                                <div class="col-sm-8 col-md-9">
                                    <p>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                        squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                                        laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section  Scripts{ 

}
