
@{
    ViewData["Title"] = "Profile";
}

<!-- Content Start -->
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <div class="profile-page">
                <div class="profile-header text-white d-none d-md-block">
                    <div class="d-flex justify-content-around">
                        <div class="profile-info d-flex justify-content-center align-items-md-center">
                            <img class="rounded-circle img-lg" src="../../assets/images/users-thumbs/user-19.jpg" alt="profile image">
                            <div class="pl-4">
                                <p class="profile-user-name">Richard V.Welsh (UI/UX Designer)</p>
                                <div class="d-flex align-items-center">
                                    <p class="profile-user-designation">userExperience Specialist</p>
                                    <div class="br-wrapper">
                                        <a href="javascript:void(0)" class="br-selected br-current"></a>
                                        <a href="javascript:void(0)"></a>
                                        <a href="javascript:void(0)"></a>
                                        <a href="javascript:void(0)"></a>
                                        <a href="javascript:void(0)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="detail-col ">
                                <p>Projects</p>
                                <p>130</p>
                            </div>
                            <div class="detail-col ">
                                <p>Projects</p>
                                <p>130</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile-body pt-0 pt-sm-4">
                    <ul class="nav mb-3 primary-tabs line-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="javascript:void(0)" data-toggle="tab">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-toggle="tab">
                                Activity
                            </a>
                        </li>
                    </ul>
                    <div class="row ">
                        <div class="col-12 col-md-8 col-lg-9">
                            <div class="tab-content tab-body">
                                <div class="tab-pane fade show active pr-3 " role="tabpanel" aria-labelledby="user-profile-info-tab ">
                                    <div class="profile-info-details mt-3">
                                        <ul>
                                            <li>
                                                <strong>Full Name:</strong> &nbsp;Johnathan Deo
                                            </li>
                                            <li>
                                                <strong>Website:</strong>  &nbsp;example.com
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <strong>Location:</strong>  &nbsp;USA
                                            </li>
                                            <li>
                                                <strong>Email:</strong>  &nbsp;Richard@example.com
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <strong>Languages:</strong>  &nbsp;English, German, Spanish.
                                            </li>
                                            <li>
                                                <strong>Phone:</strong>  &nbsp;+73646 4563
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row mt-5 pb-4 border-bottom ">
                                        <div class="col-md-6">
                                            <div class="d-flex flex-column flex-md-row align-items-start pb-3 border-bottom">
                                                <img src="../../assets/images/ps-logo.png" alt="brand logo ">
                                                <div class="wrapper pl-0 pt-4 pt-md-0 pl-md-4">
                                                    <p class="font-weight-bold mb-0 ">Photoshop</p>
                                                    <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column flex-md-row align-items-start py-3 border-bottom ">
                                                <img src="../../assets/images/ps-logo-2.png" alt="brand logo ">
                                                <div class="wrapper pl-0 pt-4 pt-md-0 pl-md-4">
                                                    <p class="font-weight-bold mb-0 ">Photoshop</p>
                                                    <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column flex-md-row align-items-start py-3 ">
                                                <img src="../../assets/images/ps-logo-3.png" alt="brand logo ">
                                                <div class="wrapper pl-0 pt-4 pt-md-0 pl-md-4">
                                                    <p class="font-weight-bold mb-0 ">Photoshop</p>
                                                    <small>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 pt-4 pt-md-0">
                                            <div class="row">
                                                <div class="col-12">
                                                    <img class="img-fluid rounded " src="../../assets/images/300_300/download-1280.jpg"
                                                         width="200" alt="banner image">
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <img class="img-fluid rounded " src="../../assets/images/300_300/glasses-1280.jpg"
                                                         width="200" alt="banner image ">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-12 mt-5">
                                            <h5 class="mb-5 ">Stages</h5>
                                            <div class="stage-wrapper pl-4">
                                                <div class="stages border-left pl-5 pb-5">
                                                    <button class="btn btn-icons btn-rounded stage-badge btn-inverse-success">
                                                        <i class="mdi mdi-texture "></i>
                                                    </button>
                                                    <div class="d-flex align-items-center mb-2 justify-content-between">
                                                        <h5 class="mb-0 ">Task Added</h5>
                                                        <small class="text-muted d-none d-md-block">28 mins ago</small>
                                                    </div>
                                                    <p>
                                                        Admin is a full featured, multipurpose, premium bootstrap admin template built
                                                        with Bootstrap
                                                        4 Framework
                                                    </p>
                                                </div>
                                                <div class="stages border-left pl-5 pb-5 ">
                                                    <button class="btn btn-icons btn-rounded stage-badge btn-inverse-danger">
                                                        <i class="mdi mdi-download "></i>
                                                    </button>
                                                    <div class="d-flex align-items-center mb-2 justify-content-between ">
                                                        <h5 class="mb-0 ">Download Completed</h5>
                                                        <small class="text-muted  d-none d-md-block">45 mins ago</small>
                                                    </div>
                                                    <p>
                                                        one of the best admin panel templates. With this bootstrap admin template, you can
                                                        quick
                                                        start your project.
                                                    </p>
                                                    <div class="file-icon-wrapper">
                                                        <div class="btn btn-outline-danger mr-3">
                                                            <i class="mdi mdi-file-pdf md-36"></i>
                                                        </div>
                                                        <div class="btn btn-outline-primary">
                                                            <i class="mdi mdi-file-word md-36"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="stages pl-5 pb-4">
                                                    <button class="btn btn-icons btn-rounded stage-badge btn-inverse-primary">
                                                        <i class="mdi mdi-checkbox-marked-circle-outline"></i>
                                                    </button>
                                                    <div class="d-flex align-items-center mb-2 justify-content-between">
                                                        <h5 class="mb-0 ">New Task Completed</h5>
                                                        <small class="text-muted  d-none d-md-block">55 mins ago</small>
                                                    </div>
                                                    <p>Admin dashboard works seamlessly on all major web browsers and devices.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  col-lg-3">
                            <h5 class="my-4 ">Who to follow</h5>
                            <div class="new-accounts ">
                                <ul class="chats ps">
                                    <li class="chat-persons">
                                        <a href="javascript:void(0)">
                                            <span class="pro-pic">
                                                <img src="../../assets/images/users-thumbs/user-6.jpg " alt="profile image ">
                                            </span>
                                            <div class="user">
                                                <p class="u-name">Marina Michel</p>
                                                <p class="u-designation">Business Development</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="chat-persons">
                                        <a href="javascript:void(0)">
                                            <span class="pro-pic">
                                                <img src="../../assets/images/users-thumbs/user-7.jpg " alt="profile image ">
                                            </span>
                                            <div class="user">
                                                <p class="u-name">Stella Johnson</p>
                                                <p class="u-designation">SEO Expert</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="chat-persons">
                                        <a href="javascript:void(0)">
                                            <span class="pro-pic">
                                                <img src="../../assets/images/users-thumbs/user-3.jpg" alt="profile image ">
                                            </span>
                                            <div class="user">
                                                <p class="u-name">Peter Joo</p>
                                                <p class="u-designation">UI/UX designer</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <h5 class="my-4 ">Pending</h5>
                            <div class="new-accounts ">
                                <ul class="chats ">
                                    <li class="chat-persons">
                                        <a href="javascript:void(0)">
                                            <span class="pro-pic">
                                                <img src="../../assets/images/users-thumbs/user-2.jpg " alt="profile image ">
                                            </span>
                                            <div class="user">
                                                <p class="u-name">Marina Michel</p>
                                                <p class="u-designation">Business Development</p>
                                                <span class="d-flex align-items-center mt-2 ">
                                                    <span class="btn btn-xs rounded-border btn-outline-light mr-2 ">Buyer</span>
                                                    <span class="btn btn-xs rounded-border btn-outline-primary ">Lead</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="chat-persons">
                                        <a href="javascript:void(0)">
                                            <span class="pro-pic">
                                                <img src="../../assets/images/users-thumbs/user-4.jpg " alt="profile image ">
                                            </span>
                                            <div class="user">
                                                <p class="u-name">Stella Johnson</p>
                                                <p class="u-designation">SEO Expert</p>
                                                <span class="d-flex align-items-center mt-2 ">
                                                    <span class="btn btn-xs rounded-border btn-outline-light mr-2 ">Buyer</span>
                                                    <span class="btn btn-xs rounded-border btn-outline-primary ">Lead</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="chat-persons">
                                        <a href="javascript:void(0)">
                                            <span class="pro-pic">
                                                <img src="../../assets/images/users-thumbs/user-1.jpg " alt="profile image ">
                                            </span>
                                            <div class="user">
                                                <p class="u-name">Peter Joo</p>
                                                <p class="u-designation">UI/UX designer</p>
                                                <span class="d-flex align-items-center mt-2 ">
                                                    <span class="btn btn-xs rounded-border btn-outline-light mr-2 ">Buyer</span>
                                                    <span class="btn btn-xs rounded-border btn-outline-primary ">Lead</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
