
@{
    ViewData["Title"] = "Loaders";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Loaders</h1>
        <div class="titles">
            <p>A machine loads something or page is being load</p>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="loader-wrap">
                                    <div class="square-box-loader">
                                        <div class="square-box-loader-top"></div>
                                        <div class="square-box-loader-bottom"></div>
                                    </div>
                                    <div class="square-box"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="pixel-loader"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="bar-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="jumping-dots-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="square-path-loader"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="dot-opacity-loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="flip-square-loader mx-auto"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="moving-square-loader"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-4">
                            <div class="loader-box-wrap">
                                <div class="circle-loader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
