<!-- Footer Start -->
<footer>
    <p>Asp.Net MVC 5 Version &copy; 2019 <a href="#" target="_blank">.Net Developer Team</a>. All rights reserved.</p>
    <div class="d-inline-block">
        <button type="button" class="btn-outline-fb btn-social-outline  mr-2">
            <i class="mdi mdi-facebook"></i>
        </button>
        <button type="button" class="btn-outline-tw btn-social-outline  mr-2">
            <i class="mdi mdi-twitter"></i>
        </button>
        <button type="button" class="btn-outline-dribble btn-social-outline  mr-2">
            <i class="mdi mdi-dribbble"></i>
        </button>
        <button type="button" class="btn-outline-ln btn-social-outline  mr-2">
            <i class="mdi mdi-linkedin"></i>
        </button>
        <button type="button" class="btn-outline-gplus btn-social-outline ">
            <i class="mdi mdi-google-plus"></i>
        </button>
    </div>
</footer>
<!-- Footer End -->