<!-- Page Setting Start -->
<div class="settings d-md-block">
    <a href="javascript:void(0)" class="open-btn"><i class="mdi mdi-settings"></i></a>
    <div class="text-muted">
        <h6 class="p-4 bg-secondary dark-text">
            Settings
            <a href="javascript:void(0)" class="close-btn"><i class="mdi mdi-close"></i></a>
        </h6>
        <div class="theme-settings-inner">
            <div class="theme-settings-layout">
                <h6 class="m-0 px-4 py-3 text-muted d-block">LAYOUT</h6>
                <div class="btn-group px-4 mb-3">
                    <button type="button" class="btn btn-outline-secondary">Dropdown</button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle" id="layoutDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu layout-setting" aria-labelledby="layoutDropdown" x-placement="left-start">
                        <a class="dropdown-item" val="fixed">Fixed</a>
                        <a class="dropdown-item" val="static">Static</a>
                    </div>
                </div>
                <div class="pt-2 px-4 d-flex media align-items-middle">
                    <div class="media-body">Fixed navbar</div>
                    <label class="switcher mr-0">
                        <input type="checkbox" class="switcher-input" />
                        <span class="switcher-indicator">
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="theme-settings-inner">
            <div class="theme-settings-layout">
                <hr class="border-top" />
                <h6 class="m-0 px-4 py-3 text-muted d-block">navbar background</h6>
                <div class="pt-2 colors px-4">
                    <ul>
                        <li class="bg-primary active"></li>
                        <li class="bg-secondary"></li>
                        <li class="bg-warning"></li>
                        <li class="bg-danger"></li>
                        <li class="bg-info"></li>
                        <li class="bg-success"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="theme-settings-inner">
            <div class="theme-settings-layout">
                <hr class="border-top" />
                <h6 class="m-0 px-4 py-3 text-muted d-block">Sidebar background</h6>
                <div class="pt-2 sidebar-colors px-4">
                    <ul>
                        <li class="bg-white active"></li>
                        <li class="bg-primary"></li>
                        <li class="bg-secondary"></li>
                        <li class="bg-warning"></li>
                        <li class="bg-danger"></li>
                        <li class="bg-info"></li>
                        <li class="bg-success"></li>
                        <li class="sidebar-light"></li>
                        <li class="sidebar-dark"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Setting End -->