
@{
    ViewData["Title"] = "Validation";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Jquery Validation</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A library is used for form validation</p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Bootstrap Markdown</h4>
                    <form id="validation-form" novalidate="novalidate" data-select2-id="validation-form">
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" name="validation-email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="validation-password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Confirm password</label>
                            <input type="password" class="form-control" name="validation-password-confirmation" placeholder="Confirm password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Required</label>
                            <input type="text" class="form-control" name="validation-required" placeholder="Required">
                        </div>
                        <div class="form-group">
                            <label class="form-label">URL</label>
                            <input type="text" class="form-control" name="validation-url" placeholder="Url">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone</label>
                            <input type="text" class="form-control" name="validation-phone" placeholder="Phone: (999) 999-9999">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Select</label>
                            <select class="form-control" name="validation-select">
                                <option value="">Select gear...</option>
                                <optgroup label="Climbing">
                                    <option value="pitons">Pitons</option>
                                    <option value="cams">Cams</option>
                                    <option value="nuts">Nuts</option>
                                    <option value="bolts">Bolts</option>
                                    <option value="stoppers">Stoppers</option>
                                    <option value="sling">Sling</option>
                                </optgroup>
                                <optgroup label="Skiing">
                                    <option value="skis">Skis</option>
                                    <option value="skins">Skins</option>
                                    <option value="poles">Poles</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Multiselect</label>
                            <select class="form-control" name="validation-multiselect" multiple="">
                                <optgroup label="Climbing">
                                    <option value="pitons">Pitons</option>
                                    <option value="cams">Cams</option>
                                    <option value="nuts">Nuts</option>
                                    <option value="bolts">Bolts</option>
                                    <option value="stoppers">Stoppers</option>
                                    <option value="sling">Sling</option>
                                </optgroup>
                                <optgroup label="Skiing">
                                    <option value="skis">Skis</option>
                                    <option value="skins">Skins</option>
                                    <option value="poles">Poles</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Select2</label>
                            <select class="form-control select2-hidden-accessible" name="validation-select2" style="width: 100%">
                                <option value="ANGULAR">AngularJS</option>
                                <option value="REACT">React</option>
                                <option value="BACKBONE">Backbone</option>
                                <option value="EMBER">Ember</option>
                                <option value="TODOMVC">TodoMVC</option>
                                <option value="POLYMER">Polymer</option>
                                <option value="KNOCKOUT">Knockout</option>
                                <option value="AURELIA">Aurelia</option>
                                <option value="SPINE">Spine</option>
                                <option value="BRICK">Brick</option>
                                <option value="NUCLEAR">Nuclear.js</option>
                                <option value="DOJO">Dojo</option>
                                <option value="MATRESHKA">Matreshka</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Select2 Multiple</label>
                            <select class="form-control select2-hidden-accessible" name="validation-select2-multi" style="width:100%" multiple>
                                <optgroup label="Climbing">
                                    <option value="pitons">Pitons</option>
                                    <option value="cams">Cams</option>
                                    <option value="nuts">Nuts</option>
                                    <option value="bolts">Bolts</option>
                                    <option value="stoppers">Stoppers</option>
                                    <option value="sling">Sling</option>
                                </optgroup>
                                <optgroup label="Skiing">
                                    <option value="skis">Skis</option>
                                    <option value="skins">Skins</option>
                                    <option value="poles">Poles</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Bootstrap Tagsinput</label>
                            <input type="text" value="" data-role="tagsinput" class="form-control" name="validation-bs-tagsinput"
                                   aria-invalid="false">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Text</label>
                            <textarea class="form-control" name="validation-text"></textarea>
                        </div>
                        <div class="form-group">
                            <label>File upload</label>
                            <input type="file" name="validation-file" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Switcher</label>
                            <br>
                            <label class="switcher switcher-primary d-block">
                                <input type="checkbox" class="switcher-input" name="validation-switcher">
                                <span class="switcher-indicator">
                                    <span class="switcher-yes"></span>
                                    <span class="switcher-no"></span>
                                </span>
                                <span class="switcher-label">Check me</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Radios</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="validation-radios">
                                    Option one is this and
                                    that—be
                                    sure
                                    to include why it's great
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="validation-radios"> Option two can be
                                    something else
                                    and
                                    selecting it will deselect option one
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="validation-radios"> Option three is
                                    disabled
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Custom radios</label>
                            <div class="form-check d-flex">
                                <label class="custom-radio primary-radio">
                                    <input class="form-check-input" type="radio" name="validation-radios-custom">
                                    Option one
                                    is
                                    this and that—be sure to include why it's great
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check d-flex">
                                <label class="custom-radio primary-radio">
                                    <input class="form-check-input" type="radio" name="validation-radios-custom">
                                    Option three
                                    is
                                    disabled
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check d-flex">
                                <label class="custom-radio primary-radio">
                                    <input class="form-check-input" type="radio" name="validation-radios-custom">
                                    Option two
                                    can
                                    be something else and selecting it will deselect option one
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Checkbox</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="validation-checkbox"> Check me out
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Checkbox group</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="validation-checkbox-group-1"> One
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="validation-checkbox-group-2"> Two
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Custom checkbox</label>
                            <div class="form-check d-flex">
                                <label class="custom-checkbox primary-checkbox">
                                    <input class="form-check-input" type="checkbox" name="validation-checkbox-custom"> Checkbox
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Custom checkbox group</label>
                            <div class="form-check d-flex">
                                <label class="custom-checkbox primary-checkbox">
                                    <input class="form-check-input" type="checkbox" name="validation-checkbox-custom-group-1">
                                    One
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="form-check d-flex">
                                <label class="custom-checkbox primary-checkbox">
                                    <input class="form-check-input" type="checkbox" name="validation-checkbox-custom-group-2">
                                    Two
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{
    <!-- ================== BEGIN PAGE LEVEL CSS START ================== -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/assets/vendor/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-taginput/css/bootstrap-tagsinput.css" />
    <!-- ================== BEGIN PAGE LEVEL END ================== -->
}

@section Scripts{

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/js/file-browse.js"></script>
    <script src="~/assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/assets/vendor/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>
    <script src="~/assets/vendor/select2/js/select2.min.js"></script>
    <script src="~/assets/vendor/bootstrap-taginput/js/bootstrap-tagsinput.js"></script>
    <script src="~/assets/vendor/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/vendor/jquery-validation/js/additional-methods.min.js"></script>
    <script src="~/assets/js/demo/jquery-validation-demo.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
}
