
@{
    ViewData["Title"] = "Wizard";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Smart Wizard</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>A wizard presents a user with a sequence of dialog boxes or screens </p>
            </div>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <div id="smartwizard-1" class="smartwizard-example">
                        <ul>
                            <li>
                                <a href="#smartwizard-1-step-1" class="mb-3">
                                    <span class="sw-number">1</span>
                                    <div class="text-muted small">FIRST STEP</div>
                                    Keyboard
                                </a>
                            </li>
                            <li>
                                <a href="#smartwizard-1-step-2" class="mb-3">
                                    <span class="sw-number">2</span>
                                    <div class="text-muted small">SECOND STEP</div>
                                    Effects
                                </a>
                            </li>
                            <li>
                                <a href="#smartwizard-1-step-3" class="mb-3">
                                    <span class="sw-number">3</span>
                                    <div class="text-muted small">THIRD STEP</div>
                                    Pager
                                </a>
                            </li>
                        </ul>
                        <div class="mb-3">
                            <div id="smartwizard-1-step-1" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 1
                                </div>
                            </div>
                            <div id="smartwizard-1-step-2" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 2
                                </div>
                            </div>
                            <div id="smartwizard-1-step-3" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <div id="smartwizard-2" class="smartwizard-example">
                        <ul>
                            <li>
                                <a href="#smartwizard-2-step-1" class="mb-3">
                                    <span class="sw-number">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                    <div class="text-muted small">FIRST STEP</div>
                                    Keyboard
                                </a>
                            </li>
                            <li>
                                <a href="#smartwizard-2-step-2" class="mb-3">
                                    <span class="sw-number">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                    <div class="text-muted small">SECOND STEP</div>
                                    Effects
                                </a>
                            </li>
                            <li>
                                <a href="#smartwizard-3-step-3" class="mb-3">
                                    <span class="sw-number">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                    <div class="text-muted small">THIRD STEP</div>
                                    Pager
                                </a>
                            </li>
                        </ul>
                        <div class="mb-3">
                            <div id="smartwizard-2-step-1" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 1
                                </div>
                            </div>
                            <div id="smartwizard-2-step-2" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 2
                                </div>
                            </div>
                            <div id="smartwizard-2-step-3" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <div id="smartwizard-3" class="smartwizard-example smartwizard-vertical">
                        <ul>
                            <li>
                                <a href="#smartwizard-3-step-1" class="mb-3">
                                    <span class="sw-number">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                    <div class="text-muted small">FIRST STEP</div>
                                    Keyboard
                                </a>
                            </li>
                            <li>
                                <a href="#smartwizard-3-step-2" class="mb-3">
                                    <span class="sw-number">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                    <div class="text-muted small">SECOND STEP</div>
                                    Effects
                                </a>
                            </li>
                            <li>
                                <a href="#smartwizard-3-step-3" class="mb-3">
                                    <span class="sw-number">
                                        <i class="mdi mdi-check"></i>
                                    </span>
                                    <div class="text-muted small">THIRD STEP</div>
                                    Pager
                                </a>
                            </li>
                        </ul>
                        <div class="mb-3">
                            <div id="smartwizard-3-step-1" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 1
                                </div>
                            </div>
                            <div id="smartwizard-3-step-2" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 2
                                </div>
                            </div>
                            <div id="smartwizard-3-step-3" class="animated fadeIn">
                                <div class="card-body">
                                    Step Content 3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{
    <!-- ================== BEGIN PAGE LEVEL CSS START ================== -->
    <link rel="stylesheet" href="~/assets/vendor/smartwizard/css/smart_wizard.min.css" />
    <!-- ================== BEGIN PAGE LEVEL END ================== -->
}

@section Scripts{
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/vendor/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/vendor/smartwizard/js/jquery.smartWizard.min.js"></script>
    <script src="~/assets/js/demo/smart-wizard-demo.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
}
