
@{
    ViewData["Title"] = "BasicTable";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Tables</h1>
        <div class="titles">
            <p>A table displays a collections of data grouped into rows.</p>
        </div>
    </section><!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Basic Table</h4>
                    <div class="table-responsive">
                        <table id="example" class="table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15%">Name</th>
                                    <th width="15%">Office</th>
                                    <th width="15%">Age</th>
                                    <th width="20%">Start date</th>
                                    <th width="20%">Salary</th>
                                    <th width="15%">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>CA</td>
                                    <td>21</td>
                                    <td>2018/04/21</td>
                                    <td>$110,800</td>
                                    <td>
                                        <label class="badge badge-danger">Pending</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jacob</td>
                                    <td>CA</td>
                                    <td>22</td>
                                    <td>2018/04/22</td>
                                    <td>$120,800</td>
                                    <td>
                                        <label class="badge badge-warning">Pending</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Larry</td>
                                    <td>CA</td>
                                    <td>23</td>
                                    <td>2018/04/23</td>
                                    <td>$130,800</td>
                                    <td>
                                        <label class="badge badge-info">Pending</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Harry</td>
                                    <td>CA</td>
                                    <td>24</td>
                                    <td>2018/04/24</td>
                                    <td>$140,800</td>
                                    <td>
                                        <label class="badge badge-success">Pending</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Anderson</td>
                                    <td>CA</td>
                                    <td>25</td>
                                    <td>2018/04/25</td>
                                    <td>$150,800</td>
                                    <td>
                                        <label class="badge badge-warning">Pending</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total-rows">
                        <p>Table - 5 rows</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Hover Table</h4>
                    <div class="table-responsive">
                        <table id="example" class="table table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="15%">Name</th>
                                    <th width="15%">Office</th>
                                    <th width="15%">Age</th>
                                    <th width="20%">Start date</th>
                                    <th width="20%">Sale</th>
                                    <th width="15%">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark</td>
                                    <td>CA</td>
                                    <td>21</td>
                                    <td>2018/04/21</td>
                                    <td class="text-danger">
                                        28.86%
                                        <i class="mdi mdi-arrow-down"></i>
                                    </td>
                                    <td>
                                        <label class="badge badge-danger">Pending</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jacob</td>
                                    <td>CA</td>
                                    <td>22</td>
                                    <td>2018/04/22</td>
                                    <td class="text-danger">
                                        22.86%
                                        <i class="mdi mdi-arrow-down"></i>
                                    </td>
                                    <td>
                                        <label class="badge badge-warning">In progress</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Larry</td>
                                    <td>CA</td>
                                    <td>23</td>
                                    <td>2018/04/23</td>
                                    <td class="text-danger">
                                        21.86%
                                        <i class="mdi mdi-arrow-down"></i>
                                    </td>
                                    <td>
                                        <label class="badge badge-info">Fixed</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Harry</td>
                                    <td>CA</td>
                                    <td>24</td>
                                    <td>2018/04/24</td>
                                    <td class="text-success">
                                        42.05%
                                        <i class="mdi mdi-arrow-up"></i>
                                    </td>
                                    <td>
                                        <label class="badge badge-success">Completed</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Anderson</td>
                                    <td>CA</td>
                                    <td>25</td>
                                    <td>2018/04/25</td>
                                    <td class="text-success">
                                        43.80%
                                        <i class="mdi mdi-arrow-up"></i>
                                    </td>
                                    <td>
                                        <label class="badge badge-warning">In progress</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total-rows">
                        <p>Table - 5 rows</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Striped Table</h4>
                    <div class="table-responsive">
                        <table id="example" class="table table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="20%">Name</th>
                                    <th width="20%">Email</th>
                                    <th width="20%">Progress</th>
                                    <th width="20%">Amount</th>
                                    <th width="20%">Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Beck</td>
                                    <td>beck@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2018</td>
                                </tr>
                                <tr>
                                    <td>Messy</td>
                                    <td>messy@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 245.30</td>
                                    <td>July 15, 2018</td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 138.00</td>
                                    <td>July 30, 2018</td>
                                </tr>
                                <tr>
                                    <td>Peter</td>
                                    <td>peter@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.30</td>
                                    <td>Auguest 1, 2018</td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 100.30</td>
                                    <td>Auguest 3, 2018</td>
                                </tr>
                                <tr>
                                    <td>Edward</td>
                                    <td>edward@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 90.30</td>
                                    <td>Auguest 5, 2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total-rows">
                        <p>Table - 6 rows</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Border Table</h4>
                    <div class="table-responsive">
                        <table id="example" class="table table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="20%">Name</th>
                                    <th width="20%">Email</th>
                                    <th width="20%">Progress</th>
                                    <th width="20%">Amount</th>
                                    <th width="20%">Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Beck</td>
                                    <td>beck@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2018</td>
                                </tr>
                                <tr>
                                    <td>Messy</td>
                                    <td>messy@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 245.30</td>
                                    <td>July 15, 2018</td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 138.00</td>
                                    <td>July 30, 2018</td>
                                </tr>
                                <tr>
                                    <td>Peter</td>
                                    <td>peter@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.30</td>
                                    <td>Auguest 1, 2018</td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 100.30</td>
                                    <td>Auguest 3, 2018</td>
                                </tr>
                                <tr>
                                    <td>Edward</td>
                                    <td>edward@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 90.30</td>
                                    <td>Auguest 5, 2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total-rows">
                        <p>Table - 6 rows</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Dark Table</h4>
                    <div class="table-responsive">
                        <table id="example" class="table table-dark" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="20%">Name</th>
                                    <th width="20%">Email</th>
                                    <th width="20%">Progress</th>
                                    <th width="20%">Amount</th>
                                    <th width="20%">Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Beck</td>
                                    <td>beck@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2018</td>
                                </tr>
                                <tr>
                                    <td>Messy</td>
                                    <td>messy@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 245.30</td>
                                    <td>July 15, 2018</td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 138.00</td>
                                    <td>July 30, 2018</td>
                                </tr>
                                <tr>
                                    <td>Peter</td>
                                    <td>peter@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.30</td>
                                    <td>Auguest 1, 2018</td>
                                </tr>
                                <tr>
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 100.30</td>
                                    <td>Auguest 3, 2018</td>
                                </tr>
                                <tr>
                                    <td>Edward</td>
                                    <td>edward@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 90.30</td>
                                    <td>Auguest 5, 2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total-rows">
                        <p>Table - 6 rows</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12">
            <article class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Dark Table</h4>
                    <div class="table-responsive">
                        <table id="example" class="table table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="20%">Name</th>
                                    <th width="20%">Email</th>
                                    <th width="20%">Progress</th>
                                    <th width="20%">Amount</th>
                                    <th width="20%">Deadline</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-info">
                                    <td>Beck</td>
                                    <td>beck@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2018</td>
                                </tr>
                                <tr class="table-warning">
                                    <td>Messy</td>
                                    <td>messy@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 245.30</td>
                                    <td>July 15, 2018</td>
                                </tr>
                                <tr class="table-danger">
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 138.00</td>
                                    <td>July 30, 2018</td>
                                </tr>
                                <tr class="table-primary">
                                    <td>Peter</td>
                                    <td>peter@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.30</td>
                                    <td>Auguest 1, 2018</td>
                                </tr>
                                <tr class="table-success">
                                    <td>John</td>
                                    <td>john@example.com</td>
                                    <td>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="50"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>$ 100.30</td>
                                    <td>Auguest 3, 2018</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="total-rows">
                        <p>Table - 5 rows</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
