
@{
    ViewData["Title"] = "Inbox";
}

<!-- Content Start -->
<div class="content-wrapper">
    <div class="mailbox-container">
        <div class="row ml-0 mr-0">
            <div class="col-md-2 col-lg-2 pl-0 pr-0 d-none d-lg-block">
                <div class="manage-mail-list">
                    <div class="compose-btn mb-3">
                        <a class="btn btn-block btn-primary" href="javascript:void(0)">Compose</a>
                    </div>
                    <div class="manage-list">
                        <ul>
                            <li class="active">
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-email-outline"></i> Inbox
                                </a>
                                <span class="badge badge-pill badge-success">8</span>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-share"></i> Sent
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-file-outline"></i> Draft
                                </a>
                                <span class="badge badge-pill badge-warning">4</span>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-upload"></i> Outbox
                                </a>
                                <span class="badge badge-pill badge-danger">3</span>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-star-outline"></i> Starred
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="mdi mdi-delete"></i> Trash
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 pl-0 pr-0">
                <div class="inbox-wrapper">
                    <div class="inbox-header mb-2 mb-3 pb-4 px-3">
                        <div class="row">
                            <div class="col-12">
                                <form action="#" class="mb-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="inbox-content pb-4">
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">
                                    Hi All, Please be informed that the new project presentation is due
                                    Monday.
                                </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list viewed_mail">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox" checked>
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Change the password for your Microsoft Account using the security code</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Detailed usage- Manage data Limits_Nothing happens on clicking save </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">This is to notify you that your password has been changed successfully.</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">
                                    Hi All, Please be informed that the new project presentation is due
                                    Monday.
                                </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Change the password for your Microsoft Account using the security code</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Detailed usage- Manage data Limits_Nothing happens on clicking save </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">This is to notify you that your password has been changed successfully.</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">
                                    Hi All, Please be informed that the new project presentation is due
                                    Monday.
                                </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Change the password for your Microsoft Account using the security code</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Detailed usage- Manage data Limits_Nothing happens on clicking save </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">This is to notify you that your password has been changed successfully.</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">
                                    Hi All, Please be informed that the new project presentation is due
                                    Monday.
                                </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Change the password for your Microsoft Account using the security code</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Detailed usage- Manage data Limits_Nothing happens on clicking save </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">This is to notify you that your password has been changed successfully.</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">
                                    Hi All, Please be informed that the new project presentation is due
                                    Monday.
                                </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Change the password for your Microsoft Account using the security code</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Detailed usage- Manage data Limits_Nothing happens on clicking save </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">This is to notify you that your password has been changed successfully.</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">
                                    Hi All, Please be informed that the new project presentation is due
                                    Monday.
                                </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Change the password for your Microsoft Account using the security code</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">Microsoft Account Password Change</p>
                                <p class="message_text">Detailed usage- Manage data Limits_Nothing happens on clicking save </p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star checked"></i>
                            </div>
                        </div>
                        <div class="mail-list">
                            <div class="form-check">
                                <label class="custom-checkbox variation2">
                                    <input class="form-check-input" type="checkbox">
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                            <div class="content">
                                <p class="sender-name">David Moore</p>
                                <p class="message_text">This is to notify you that your password has been changed successfully.</p>
                            </div>
                            <div class="favorites">
                                <i class="mdi mdi-star-outline"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-7 pl-0 pr-0">
                <div class="mailview-container">
                    <div class="btn-toolbar mb-4 mt-4">
                        <div class="btn-group mbr-xl-2">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <i class="mdi mdi-reply text-primary mr-1"></i> Reply
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <i class="mdi mdi-reply-all text-primary mr-1"></i>Reply All
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <i class="mdi mdi-share text-primary mr-1"></i>Forward
                            </button>
                        </div>
                        <div class="btn-group ml-2">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <i class="mdi mdi-attachment text-primary mr-1"></i>Attach
                            </button>
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <i class="mdi mdi-delete text-primary mr-1"></i>Delete
                            </button>
                        </div>
                    </div>
                    <div class="message-body">
                        <div class="sender-details">
                            <img class="rounded-circle mr-3" src="~/assets/images/users-thumbs/user-14.jpg" alt="">
                            <div class="details">
                                <p class="msg-subject">
                                    Weekly Update - Week 19 (May 8, 2017 - May 14, 2017)
                                </p>
                                <p class="sender-email">
                                    David Moore
                                    <a href="javascript:void(0)">david@example.com</a>
                                    &nbsp;
                                    <i class="mdi mdi-account-multiple-plus"></i>
                                </p>
                            </div>
                        </div>
                        <div class="message-content">
                            <p>Hi David,</p>
                            <p>
                                If you want to be part of a true Artificial Intelligence movement,
                                <a href="javascript:void(0)">praktice.ai</a> is the best place to be at right now. What more do
                                you want to believe in it than, being part
                                of TechStars Machine Learning program- We are looking for an immediate joinee within next 1 - 2
                                weeks. We make
                                advanced web apps and progressive web apps to let every common man on this earth experience the
                                power of a
                                simple yet powerful AI application.
                            </p>
                            <p>
                                For the coming week the highest priority is given to the development for
                                <a href="javascript:void(0)" target="_blank">http://www.bootstrapdash.com/</a> once the design
                                is approved and necessary improvements are made.
                            </p>
                            <p>
                                <br>
                                <br>Regards,
                                <br>David Moore
                            </p>
                        </div>
                        <div class="attachments-sections">
                            <ul>
                                <li>
                                    <div class="thumb">
                                        <i class="mdi mdi-file-pdf"></i>
                                    </div>
                                    <div class="details">
                                        <p class="file-name">Seminar Reports.pdf</p>
                                        <div class="buttons">
                                            <p class="file-size">678Kb</p>
                                            <a href="javascript:void(0)" class="view">View</a>
                                            <a href="javascript:void(0)" class="download">Download</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <i class="mdi mdi-file-image"></i>
                                    </div>
                                    <div class="details">
                                        <p class="file-name">Product Design.jpg</p>
                                        <div class="buttons">
                                            <p class="file-size">1.96Mb</p>
                                            <a href="javascript:void(0)" class="view">View</a>
                                            <a href="javascript:void(0)" class="download">Download</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->

@section Styles{ 

}

@section Scripts{ 

}
