
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> @ViewData["Title"] </title>
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <!-- ================== APP CSS START ================== -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- ================== APP CSS END ================== -->
</head>
<body>
    <div class="auth-container d-flex align-items-center">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form">
                <form action="#">
                    <div class="form-group">
                        <label class="label">Username</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="*********">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="mdi mdi-check-circle-outline"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary submit-btn btn-block">Login</button>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-check mt-0">
                            <label class="custom-checkbox success-checkbox">
                                <input type="checkbox" class="form-check-input" checked=""> Keep me signed in
                                <i class="input-helper"></i>
                            </label>
                        </div>
                        <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block g-login">
                            <img class="mr-3" src="~/assets/images/icon-google.svg" alt="">Log in with Google
                        </button>
                    </div>
                    <div class="text-block text-center my-3">
                        <span class="text-small font-weight-500">Not a member ? </span>
                        <a href="/Auth/@Pages.Register.Value" class="text-black text-small">Create new account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

