
@{
    ViewData["Title"] = "FontAwesomeIcon";
}

<!-- Content Start -->
<div class="content-wrapper">
    <!-- Heading Start -->
    <section class="heading">
        <h1 class="mb-2">Font Awesome Icon</h1>
        <div class="breadcrumb-container">
            <div class="titles">
                <p>An accordion allows users to toggle the display of sections of content</p>
            </div>
        </div>
    </section>
    <!-- Heading End -->
    <div class="row">
        <div class="col-12">
            <div class="icons-list d-flex">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-address-book"></i>fa fa-address-book </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-address-book-o"></i>fa fa-address-book-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-address-card"></i>fa fa-address-card </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-address-card-o"></i>fa fa-address-card-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-bandcamp"></i>fa fa-bandcamp </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-bath"></i>fa fa-bath </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-bathtub"></i>fa fa-bathtub </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-drivers-license"></i>fa fa-drivers-license </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-drivers-license-o"></i>fa fa-drivers-license-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-eercast"></i>fa fa-eercast </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-envelope-open"></i>fa fa-envelope-open </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-envelope-open-o"></i>fa fa-envelope-open-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-etsy"></i>fa fa-etsy </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-free-code-camp"></i>fa fa-free-code-camp </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-grav"></i>fa fa-grav </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-handshake-o"></i>fa fa-handshake-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-id-badge"></i>fa fa-id-badge </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-id-card"></i>fa fa-id-card </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-id-card-o"></i>fa fa-id-card-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-imdb"></i>fa fa-imdb </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-linode"></i> fa fa-linode </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-meetup"></i>fa fa-meetup </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-microchip"></i>fa fa-microchip </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-podcast"></i>fa fa-podcast </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-quora"></i>fa fa-quora </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-ravelry"></i>fa fa-ravelry </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-s15"></i>fa fa-s15 </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-shower"></i>fa fa-shower </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-snowflake-o"></i>fa fa-snowflake-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-superpowers"></i>fa fa-superpowers </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-telegram"></i>fa fa-telegram </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer"></i>fa fa-thermometer </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-0"></i>fa fa-thermometer-0 </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-1"></i>fa fa-thermometer-1 </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-2"></i>fa fa-thermometer-2 </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-3"></i>fa fa-thermometer-3 </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-4"></i>fa fa-thermometer-4 </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-empty"></i>fa fa-thermometer-empty </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-full"></i>fa fa-thermometer-full </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-half"></i>fa fa-thermometer-half </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-thermometer-quarter"></i>fa fa-thermometer-quarter </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview">
                        <i class="fa fa-thermometer-three-quarters"></i>fa
                        fa-thermometer-three-quarters
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-times-rectangle"></i>fa fa-times-rectangle </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-times-rectangle-o"></i>fa fa-times-rectangle-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-user-circle"></i>fa fa-user-circle </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-user-circle-o"></i>fa fa-user-circle-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-user-o"></i>fa fa-user-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-vcard"></i>fa fa-vcard </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-vcard-o"></i>fa fa-vcard-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-window-close"></i>fa fa-window-close </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-window-close-o"></i>fa fa-window-close-o </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-window-maximize"></i>fa fa-window-maximize </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-window-minimize"></i>fa fa-window-minimize </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-window-restore"></i>fa fa-window-restore </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"> <i class="fa fa-wpexplorer"></i>fa fa-wpexplorer </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="preview"><i class="fas fa-comments"></i>fas fa-comments</div>
                </div>
            </div>
            <div class="d-flex mt-5 justify-content-center">
                <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank" class="btn btn-primary btn-outline">
                    Load More Icons
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->

@section  Styles{ 

}

@section Scripts{ 

}
